<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajout Voiture</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Ajout Voiture</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/addVoiture/save}" th:object="${VoitureForm}"
                      method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="Serie" class="col-form-label">Serie</label>
                            <input type="Serie" th:field="*{serie}" class="form-control"
                                   id="Serie" placeholder="Serie" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="Date_Mise_en" class="col-form-label">date_Mise_en</label>
                            <input type="date" th:field="*{date_Mise_en}" class="form-control"
                                   id="Date_Mise_en" placeholder="Date_Mise_en" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="Date_Mise_en" class="col-form-label">Modele_Nm</label>
                            <input type="text" th:field="*{modele_Nm}" class="form-control"
                                   id="Modele_Nm" placeholder="Modele_Nm" />
                        </div>

                        <div class="form-group col-md-8">
                            <label  class="col-form-label">Modèle</label>
                            <select th:field="*{modeleEntity.id}">
                                <option th:each="m : ${listemodel}"
                                        th:value="${m.id}" th:text="${m.model_Name}"/>
                            </select>

                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>